.img_parent{
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    object-fit: cover;
}

tr{
    cursor: pointer !important;
}
.action{
    background: none !important;
    border: none !important;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown_btn{
    background: none !important;
    border: none;
}
.dots{
    font-size: 20px;
    margin-top: 5px;
}